<div class="container flex flex-col justify-center place-items-center w-full h-full">
  <app-my-bank-icon [width]="'100'"></app-my-bank-icon>
  <p class="font-semibold">Entrez votre identifiant</p>
  <p class="text-primary text-info">identifiant oublié ?</p>

  <form [formGroup]="applyForm" (submit)="submitApplication()" class="w-full">  
    <div [ngClass]="cssIsFocused === 'email' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="email" [ngClass]="cssIsFocused === 'email' || (applyForm.value.email != '' && applyForm.value.email != null) ? ' text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : ' text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Email</label>
      <div class="flex justify-between ">
        <input id="email" type="string" [ngClass]="cssIsFocused === 'email' || (applyForm.value.email != '' && applyForm.value.email != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="email" (focus)="onFocus('email')" (blur)="onBlur()">
      </div>
    </div>

    <div [ngClass]="cssIsFocused === 'password' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="password" [ngClass]="cssIsFocused === 'password' || (applyForm.value.password != '' && applyForm.value.password != null) ? ' text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : ' text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Mot de passe</label>
      <div class="flex justify-between ">
        <input id="password" type="password" [ngClass]="cssIsFocused === 'password' || (applyForm.value.password != '' && applyForm.value.password != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="password" (focus)="onFocus('password')" (blur)="onBlur()">
      </div>
    </div>

    <button type="submit" class="rounded-md bg-primary text-secondary w-full h-[40px]">Se connecter</button>
    
    <a routerLink="/mybank/home">
      <div type="submit" class="rounded-md bg-alternative2 text-secondary w-full h-[40px] flex place-items-center justify-center mt-4">Retour</div>
    </a>
  </form>
</div>
