<div >
  @for(transaction of transactionsByIban; track transaction.id){
    <div class="my-4">
      @if(transaction.ibanReceiver === data.iban){
        <p>Nom : {{transaction.name}}</p>
        <div class="flex justify-between">
          <p>Receveur : {{transaction.ibanReceiver}}</p>
          <p class="text-green-400">+{{transaction.amount}}</p>
        </div>
        <p>Expéditeur : {{transaction.ibanSender}}</p>
      }
      @else {
        <p>Nom : {{transaction.name}}</p>
        <div class="flex justify-between">
          <p>Receveur : {{transaction.ibanReceiver}}</p>
          <p class="text-red-400">+{{transaction.amount}}</p>
        </div>
        <p>Expéditeur : {{transaction.ibanSender}}</p>
      }
      <div class="bg-black h-[1px] w-full"></div>
    </div>  
  }
</div>
