<div class="container flex flex-col justify-center place-items-center w-full h-full">
  <app-my-bank-icon [width]="'100'"></app-my-bank-icon>
  <p class="font-semibold">Créer votre identifiant</p>

  <form [formGroup]="applyForm" (submit)="submitApplication()" class="w-full">  
   
    
    <div [ngClass]="cssIsFocused === 'last_name' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="last_name" [ngClass]="cssIsFocused === 'last_name' || (applyForm.value.last_name != '' && applyForm.value.last_name != null) ? ' text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : ' text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Nom de famille</label>
      <div class="flex justify-between ">
        <input id="last_name" type="string" [ngClass]="cssIsFocused === 'last_name' || (applyForm.value.last_name != '' && applyForm.value.last_name != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="last_name" (focus)="onFocus('last_name')" (blur)="onBlur()">
      </div>
    </div>

    <div [ngClass]="cssIsFocused === 'first_name' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="first_name" [ngClass]="cssIsFocused === 'first_name' || (applyForm.value.first_name != '' && applyForm.value.first_name != null) ? ' text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : ' text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Prénom</label>
      <div class="flex justify-between ">
        <input id="first_name" type="string" [ngClass]="cssIsFocused === 'first_name' || (applyForm.value.first_name != '' && applyForm.value.first_name != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="first_name" (focus)="onFocus('first_name')" (blur)="onBlur()">
      </div>
    </div>

    <div [ngClass]="cssIsFocused === 'date_birthdate' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="date_birthdate" [ngClass]="cssIsFocused === 'date_birthdate' || (applyForm.value.date_birthdate != '' && applyForm.value.date_birthdate != null) ? 'text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : 'text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Date de naissance</label>
      <div class="flex justify-between">
        <input id="date_birthdate" type="date" [ngClass]="cssIsFocused === 'date_birthdate' || (applyForm.value.date_birthdate != '' && applyForm.value.date_birthdate != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="date_birthdate" (focus)="onFocus('date_birthdate')" (blur)="onBlur()">
      </div>
    </div>
  
    
    <div [ngClass]="cssIsFocused === 'email' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="email" [ngClass]="cssIsFocused === 'email' || (applyForm.value.email != '' && applyForm.value.email != null) ? ' text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : ' text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Email</label>
      <div class="flex justify-between ">
        <input id="email" type="string" [ngClass]="cssIsFocused === 'email' || (applyForm.value.email != '' && applyForm.value.email != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="email" (focus)="onFocus('email')" (blur)="onBlur()">
      </div>
    </div>

    <div [ngClass]="cssIsFocused === 'password' ? 'my-4 bg-secondary relative h-[40px] border border-black rounded-md' : 'my-4 bg-secondary relative h-[40px]'">
      <label for="password" [ngClass]="cssIsFocused === 'password' || (applyForm.value.password != '' && applyForm.value.password != null) ? ' text-form absolute top-0 left-0 z-10 flex place-items-center pl-[10px] pointer-events-none' : ' text-small absolute z-10 inset-0 flex place-items-center pl-[10px] pointer-events-none'">Mot de passe</label>
      <div class="flex justify-between ">
        <input id="password" type="string" [ngClass]="cssIsFocused === 'password' || (applyForm.value.password != '' && applyForm.value.password != null) ? 'bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]' : 'text-secondary bg-transparent outline-none absolute bottom-0 left-[10px] right-[40px] h-[30px]'" formControlName="password" (focus)="onFocus('password')" (blur)="onBlur()">
      </div>
    </div>

    <button type="submit" class="rounded-md bg-primary text-secondary w-full h-[40px]">Se connecter</button>
    
    <a routerLink="/mybank/home">
      <div type="submit" class="rounded-md bg-alternative2 text-secondary w-full h-[40px] flex place-items-center justify-center mt-4">Retour</div>
    </a>
  </form>
</div>
