<div class="container">
  <div class="flex justify-end">
    <app-my-bank-icon></app-my-bank-icon>
  </div>
  <p class="text-h3 font-semibold">Faire un virement de</p>
  <form [formGroup]="applyForm" (submit)="submitApplication()">
     
    <div class="flex text-h1 font-bold border-b-2 border-b-primary my-4 text-primary w-[290px]">
      <input type="number" class="w-[250px] bg-transparent outline-none" formControlName="amount">
      <p class="mx-2">€</p>
    </div>

    <div class="flex my-7">
      <p class="mr-4">à</p>
      <input type="text" class="outline-none bg-transparent border-b-[1px] border-primary w-full" formControlName="ibanReceiver">
    </div>
    
    <div>
      <p>Depuis : {{ applyForm.get('ibanSender')?.value }}</p> 

      @if(userAccounts){
        <div class="">
          @for (account of userAccounts; track account.id){
            <div [ngClass]="applyForm.get('ibanSender')?.value == account.iban ? 'border-primary bg-secondary' : ''" class="my-2 rounded-md p-2 border border-2" (click)="setApplyFormIbanSender(account?.iban)">
              <p>{{account.name}}</p>
              <p>{{account.iban}}</p>
            </div>
          }
        </div>
      }
      @else {
        <p>Veuillez créer un compte</p>
      }
    </div>

    <button type="submit" class="rounded-md bg-primary text-secondary w-full h-[40px]">Valider le virement</button>
  </form>

</div>
<!-- <div class="h-[2px] w-[100vw] bg-black"></div>

<div class="container">
  <h3 class="text-h3 font-semibold mb-7">Historique des virements</h3>

  <div>
    <p>Mr/Mme lastname firstname</p>
    <p>Iban</p>
    <div class="flex place-content-between ">
      <p class="text-gray-400">Date</p>
      <div class="flex">
        <p>-</p>
        <p>100</p>
        <p>€</p>
      </div>
    </div>
  </div>
  <div class="h-[1px] bg-gray-400 my-2"></div>
  <div>
    <p>Mr/Mme lastname firstname</p>
    <p>Iban</p>
    <div class="flex place-content-between ">
      <p class="text-gray-400">Date</p>
      <div class="flex">
        <p>-</p>
        <p>200</p>
        <p>€</p>
      </div>
    </div>
  </div>
  <div class="h-[1px] bg-gray-400 my-2"></div>
</div> -->